<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Type</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container" style="color:black;background-color:#F0F8FF;">
    <br>
    <br>
    <br>
    <div class="jumbotron text-center" style="background-color:powderblue;">
        <form action="{{url_for('teacher')}}">
            <button class="btn btn-primary btn-lg"> Teacher Login </button>
        </form>
        <br>
        <form action="{{url_for('student')}}">
            <button class="btn btn-primary btn-lg"> Student Login </button>
        </form>
    </div>
</body>
</html>